@import "src/common/common";
.header {
  height: 5em;
  background-color: $light-gray;
  box-shadow: 0 0.1em 1em grey;
}

.header__title {
  font-size: 2em;
  text-align: center;
  line-height: 2em;
}