@import "src/common/common";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_buttons";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_alerts";

.col_4 {
  @include make-lg-column(4);
}

.col_8 {
  @include make-lg-column(8);
}

.btn-container {
  text-align: center;
}

.btn {
  margin: 1em;
}

.alert {
  margin-top: 12em;
}

.sort__title {
  text-align: center;
  font-size: 2em;
}

.wrapper {
  width: 100%;
}

.menu__container {
  margin-top: 2em;
}

.search {
  width: 50%;
  box-sizing: border-box;
  height: 3em;
  border: 1px solid #4d4949;
  border-radius: 5px;
  padding: 0.7em;
  margin: auto;
  outline: none;
  display: block;
}